/*
 * resume 本应用针对电脑端(PC)的特定样式
 */

html, body{
    /*尺寸*/
    height: 100%;
    width: 100%;
    min-width: 1000px;
}

/*头部*/
.header{
    /*定位*/
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    /*尺寸*/
    width: 100%;
    height: 58px;
    /*字体大小*/
}

/*头部座右铭*/
.header .motto{
    /*定位*/
    position: relative;
    float: left;
    /*尺寸*/
    width: 60%;
    height: 100%;
    /*背景色*/
    /*background-color: #587FA6;*/
}

.header .motto .title{
    /*行高*/
    line-height: 58px;
    /*字间距*/
    letter-spacing: 2px;
    /*文本对齐*/
    text-align: center;
    /*字体颜色*/
    color: rgba(255, 255, 255, 0.9);
}

/*头部导航*/
.header .nav{
    /*定位*/
    position: relative;
    float: right;
    /*尺寸*/
    width: 40%;
    height: 100%;
}

/**/
.header #currentIndex{
    display: none;
}

/*导航列表*/
.header .nav .menu{
    /*尺寸*/
    width: 100%;
    height: 100%;
    /*显示方式*/
    display: block;
    /*背景色, 待去除*/
    /*background-color: #FFF;*/
}

/*导航列表项*/
.header .nav .menu .item{
    /*定位*/
    float: left;
    /*尺寸*/
    width: 12%;
    max-width: 100px;
    height: 100%;
    /*显示方式*/
    /*display: inline-block;*/
    list-style: none;
    /*背景色*/
    /*background-color: red;*/
}

/*导航列表项链接*/
.header .nav .menu .item a{
    /*显示方式*/
    display: block;
    /*文本对齐*/
    text-align: center;
    /*文本行高*/
    line-height: 58px;
    /*字体颜色*/
    color: rgba(255, 255, 255, 0.6);
    /*背景色*/
    /*background-color: greenyellow;*/
}

/*导航列表项链接(鼠标停留)*/
.header .nav .menu .item a:hover{
    /*字体颜色*/
    color: rgba(255, 255, 255, 1.0);
    /*背景色*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
}

/*导航列表项(选中激活状态)*/
.header .nav .menu .item.active a{
    /*字体颜色*/
    color: rgba(255, 255, 255, 1.0);
}

/*头部分割线*/
.header .headerSplitLine{
    /*定位*/
    position: relative;
    clear: both;
    /*尺寸*/
    width: 100%;
    height: 1px;
    /*颜色*/
    background-color: rgba(255, 255, 255, 0.4);
}

/*--------------------华丽丽的分割线--------------------*/

/*主体*/
.container{
    /*尺寸*/
    height: 100%;
    width: 100%;
    /*背景色*/
    background-color: #ffffff;
}

section[data-type="story"]{
    width: 100%;
    height: 100%;
    position: relative;
}

section[data-type="story"] article{
    /*尺寸*/
    width: 300px;
    height: 400px;
    /*位置*/
    position: absolute;
    top: 200px;
    left: 200px;
    margin: 0 auto;
}

/*--------------------华丽丽的分割线--------------------*/

/*个人简介*/
.introduction{
    background-color: #2E3C5C;
}

/*专业技术*/
.skill{
    background-color: #587FA6;
}

/*工作经历*/
.work{
    background-color: #2E3C5C;
}

/*兴趣爱好*/
.interest{
    background-color: #587FA6;
}

/*远景展望*/
.future{
    background-color: #2E3C5C;
}

/*结束*/
.end{
    background-color: #587FA6;
}

/*--------------------华丽丽的分割线--------------------*/

/*脚部*/
.footer{
}

/*脚部分割线*/
.footer .footerSplitLine{
}

/*脚部附加说明*/
.footer .caveats{
}