/*
 * resume 本应用针对电脑端(PC)的特定样式
 */

html, body{
    /*尺寸*/
    height: 100%;
    width: 100%;
    /*最小尺寸, PC media Size, will be commented in production*/
    min-height: 960px;
    min-width: 1000px;
}

/*头部*/
.header{
    /*定位*/
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    /*尺寸*/
    width: 100%;
    height: 58px;
    /*字体大小*/
}

/*头部座右铭*/
.header .motto{
    /*定位*/
    position: relative;
    float: left;
    /*尺寸*/
    width: 60%;
    height: 100%;
    /*背景色*/
    /*background-color: #587FA6;*/
}

.header .motto .title{
    /*行高*/
    line-height: 58px;
    /*字间距*/
    letter-spacing: 2px;
    /*文本对齐*/
    text-align: center;
    /*字体颜色*/
    color: rgba(255, 255, 255, 0.9);
}

/*头部导航*/
.header .nav{
    /*定位*/
    position: relative;
    float: right;
    /*尺寸*/
    width: 40%;
    height: 100%;
}

/**/
.header #currentIndex{
    display: none;
}

/*导航列表*/
.header .nav .menu{
    /*尺寸*/
    width: 100%;
    height: 100%;
    /*显示方式*/
    display: block;
    /*背景色, 待去除*/
    /*background-color: #FFF;*/
}

/*导航列表项*/
.header .nav .menu .item{
    /*定位*/
    float: left;
    /*尺寸*/
    width: 12%;
    max-width: 100px;
    height: 100%;
    /*显示方式*/
    /*display: inline-block;*/
    list-style: none;
    /*背景色*/
    /*background-color: red;*/
}

/*导航列表项链接*/
.header .nav .menu .item a{
    /*显示方式*/
    display: block;
    /*文本对齐*/
    text-align: center;
    /*文本行高*/
    line-height: 58px;
    /*字体颜色*/
    color: rgba(255, 255, 255, 0.6);
    /*背景色*/
    /*background-color: greenyellow;*/
}

/*导航列表项链接(鼠标停留)*/
.header .nav .menu .item a:hover{
    /*字体颜色*/
    color: rgba(255, 255, 255, 1.0);
    /*背景色*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
}

/*导航列表项(选中激活状态)*/
.header .nav .menu .item.active a{
    /*字体颜色*/
    color: rgba(255, 255, 255, 1.0);
}

/*头部分割线*/
.header .headerSplitLine{
    /*定位*/
    position: relative;
    clear: both;
    /*尺寸*/
    width: 100%;
    height: 1px;
    /*颜色*/
    background-color: rgba(255, 255, 255, 0.4);
}

/*--------------------华丽丽的分割线--------------------*/

/*主体*/
.container{
    /*尺寸*/
    height: 100%;
    width: 100%;
    /**/
    /*overflow: hidden;*/
    /*背景色*/
    background-color: #ffffff;
}

section[data-type="story"]{
    /*尺寸*/
    width: 100%;
    height: 100%;
    /*溢出处理*/
    /*overflow: hidden;*/
    /*位置*/
    position: relative;
}

section[data-type="story"] article{
    /*尺寸*/
    width: 80%;
    height: 80%;
    padding-top: 58px;
    /*位置*/
    margin: 0 auto;
    /*背景色*/
    /*background-color: gray;*/
}

/*--------------------华丽丽的分割线--------------------*/

/*个人简介*/
section[data-name="introduction"]{
    /*背景色*/
    background-color: #2E3C5C;
}

/*个人简介-画廊*/
section[data-name="introduction"] article div.introduction-images{
    /*尺寸*/
    width: 600px;
    height: 200px;
    /*位置*/
    position: relative;
    margin: 20px auto 0 auto;
    /*背景色*/
    /*background-color: red;*/
}

/*个人简介-画廊-个人头像最外框*/
section[data-name="introduction"] article div.introduction-images .personal-image{
    /*尺寸*/
    width: 170px;
    height: 170px;
    /*浮动*/
    float: left;
    /*位置*/
    margin-top: 15px;
    margin-bottom: 15px;
    /*边框*/
    border-radius: 170px;
    /*背景色*/
    background-color: rgba(255, 255, 255, 0.5);
}

/*个人简介-画廊-个人头像外框*/
section[data-name="introduction"] article div.introduction-images .personal-image div{
    /*尺寸*/
    width: 160px;
    height: 160px;
    /*位置*/
    margin: 5px 5px;
    /*边框*/
    border-radius: 160px;
    /*背景图*/
    background-image: url("../images/eagle.jpg");
    background-size: 100% 100%;
    /*背景色*/
    /*background-color: rgba(255, 255, 255, 0.6);*/
}

/*个人简介-画廊-其他图片最外框*/
section[data-name="introduction"] article div.introduction-images .other-images{
    /*尺寸*/
    width: 430px;
    height: 85px;
    /*浮动*/
    /*float: right;*/
    /*定位*/
    position: absolute;
    /*位置*/
    left: 170px;
    top: 100px;
    margin: 0 0;
    /*溢出处理*/
    overflow: hidden;
    /*背景色*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
}

/*个人简介-画廊-其他图片item*/
section[data-name="introduction"] article div.introduction-images .other-images div{
    /*尺寸*/
    width: 30%;
    height: 90%;
    /*浮动*/
    float: right;
    /**/
    margin-left: 2%;
    /*边框*/
    border-radius: 10%;
    border: solid rgba(255, 255, 255, 0.7);
    /*背景色*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
}

/*个人简介-文字简介*/
section[data-name="introduction"] article div.introduction-text{
    /*尺寸*/
    width: 600px;
    height: 400px;
    /*位置*/
    margin: 0 auto;
    /*边框*/
    border-radius: 20px;
    /*文本位置*/
    /*padding: 15px 0 0 20px;*/
    text-align: left;
    /*溢出处理*/
    overflow: hidden;
    /*背景色*/
    background-color: rgba(255, 255, 255, 0.6);
}

/*个人简介-文字简介-每行介绍*/
section[data-name="introduction"] article div.introduction-text p{
    /*尺寸*/
    width: 90%;
    /*每行内边距*/
    padding: 25px 25px 0 20px;
    /*行高*/
    /*line-height: 40px;*/
    /*每行间距*/
    /*margin-top: 25px;*/
}


/*--------------------华丽丽的分割线--------------------*/

/*专业技术*/
section[data-name="skill"]{
    /*背景色*/
    background-color: #587FA6;
}

section[data-name="skill"] article div.content{
    /*尺寸*/
    height: 600px;
    width: 600px;
    /*位置*/
    position: relative;
    margin: 20px auto 0 auto;
    /*边框*/
    border-radius: 20px;
    /*背景色*/
    background-color: rgba(255, 255, 255, 0.6);
}

section[data-name="skill"] article div.content h3{
    /*尺寸*/
    width: 90%;
    /*每行内边距*/
    padding: 40px 25px 10px 20px;
}

section[data-name="skill"] article div.content p{
    /*尺寸*/
    width: 90%;
    /*行高*/
    line-height: 40px;
    /*每行内边距*/
    padding: 0 25px 0 20px;
}

/*--------------------华丽丽的分割线--------------------*/

/*工作经历*/
.work{
    /*背景色*/
    background-color: #2E3C5C;
}

/*--------------------华丽丽的分割线--------------------*/

/*兴趣爱好*/
.interest{
    /*背景色*/
    background-color: #587FA6;
}

/*--------------------华丽丽的分割线--------------------*/

/*远景展望*/
.future{
    /*背景色*/
    background-color: #2E3C5C;
}

/*--------------------华丽丽的分割线--------------------*/

/*结束*/
.end{
    /*背景色*/
    background-color: #587FA6;
}

/*--------------------华丽丽的分割线--------------------*/

/*脚部*/
.footer{
}

/*脚部分割线*/
.footer .footerSplitLine{
}

/*脚部附加说明*/
.footer .caveats{
}

/*--------------------华丽丽的分割线--------------------*/